@model PostKek.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4> 
    <img src="@Model.PictureURL" alt="No image" class="img-responsive">
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>  
                @Html.ActionLink("Change your password", "ChangePassword") 
        </dd> 
    </dl>
</div> 